# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

# some basic default values...
# ask_sudo_pass and ask_pass are false in order to skip the sudo password and the password of the VM
inventory      = /etc/ansible/hosts
ask_sudo_pass = False  
ask_pass      = False
remote_port    = 22
private_key_file = /home/USER_NAME/.ssh/id_rsa
roles_path = /home/nkostopoulos/roles
